<div class="note-block coloreditor">
  <div class="color-glass">
    <div class="color-box" id="#FEFFCA"></div>
    <div class="color-box" id="#FEDCBA"></div>
    <div class="color-box" id="#3E4B54"></div>
    <div class="color-box" id="#EA526F"></div>
    <div class="color-box" id="#8FE9A3"></div>
    <div class="color-box" id="#23B3E1"></div>
  </div>
  <h3 class="note">At least you still got some controlles?</h3>
</div>
