<div class="timer" id="timer32">
  <div class="counter days">
    <span id="dy">00</span> <label for="dy"> days </label>
  </div>
  <div class="counter hours">
    <span id="hr">00</span><label for="hr"> hours </label>
  </div>
  <div class="counter minutes">
    <span id="mn">00</span><label for="mn">minutes</label>
  </div>
  <div class="counter seconds">
    <span id="sc">00</span><label for="sc">seconds</label>
  </div>
</div>
