<div class="note-block">
  <h3 class="note">
    I didn't create this to spread fear, maybe this is the awakening trigger
    some of us needs. The world is going through a rough stage. Thanks to the
    quarintine, the clocks stoped and alot of us lost track of TIME. Days feel
    long now, and with this countdown we can make them even longer. Let's slow
    down and enjoy every second we have because one of those tiny things is
    going to be our last one. Wake up, stand together and stand strong!.
  </h3>
</div>
