<div class="timer" id="timer">
  <div class="tm_glass">
    <h1 id="dy"></h1>
    <h4 class="label">DAYS</h4>
  </div>
  <div class="tm_glass">
    <h1 id="hr"></h1>
    <h4 class="label">HOURS</h4>
  </div>
  <div class="tm_glass">
    <h1 id="mn"></h1>
    <h4 class="label">MINUTES</h4>
  </div>
  <div class="tm_glass">
    <h1 id="sc"></h1>
    <h4 class="label">SECONDS</h4>
  </div>
</div>
