@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");
@font-face {
  font-family: "digital7";
  src: url("./fonts/digital-7\ \(mono\).ttf");
}

:root {
  --main-clock-font-color: #0066ff;
  --main-clock-bg-color: #0e0c0c;
  --glow-from-color: rgb(216, 25, 41);
  --glow-to-color: rgb(29, 117, 199);
  --glow-optional-color: rgb(255, 255, 255);
}

.jumbotron {
  background: hsl(252, 30%, 13%);
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.navbar + .jumbotron {
  margin-top: -20px;
  position: fixed;
}

.navbar {
  background-color: #000000;
}
.jumbotron .lang-logo {
  display: block;
  background: #b01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}

.main-container {
  height: 100vh;
  width: 100vw;
  min-height: 55vh;
  padding-top: 45vh;
}

.countdown-container {
  position: relative;
  bottom: 39vh;
}

#tag {
  position: absolute;
  right: 20px;
  bottom: 42px;
  color: #b9b9b9;
  font-size: x-small;
}

#login-btn {
  position: absolute !important;
  top: 9px;
  right: 42px;
}

#timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*   justify-content: space-around;
 */
  margin-bottom: -270px;
  padding: 9px 27px;
}

#timer /* > .subcont */ > h1 {
  margin: 0 0px;
  font-size: 9rem;
  font-family: "digital7", sans-serif;
  color: var(--main-clock-font-color);
  background-color: var(--main-clock-bg-color);
  font-weight: 100;
  -webkit-animation: glow 750ms ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 700ms cubic-bezier(1, 0.01, 0.55, 0.63) infinite alternate;
}

#timer > h1:last-of-type {
  padding-right: 27px;
}

#timer > h1:first-of-type {
  padding-left: 27px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 700px var(--glow-optional-color);
    opacity: 0.6;
  }
  to {
    text-shadow: 0 0 3px var(--glow-from-color), 0 0 19px var(--glow-from-color);
  }
}

/* .digital-placeholder {
  position: absolute;
  color: #b8b8b8 !important;
  opacity: 0.1618;
  top: 162px;
  z-index: 50;
} */

.note {
  color: black;
  background-color: aliceblue;
  border-radius: 3px;
  padding: 12px;
  font-family: "Sen", sans-serif;
}
