$black_not_black: #33342e;
$scary_black: #16180d;

$yellow: #efec4f;
$yellow_yellow: #ffde16;

$orange: #fd9014;

$wine_red: #8f0d56;
$fine_red: #ff4040;
$flaming_red: #ec2f3b;

$volcano: #f26249;

$dark_blue: #272b4b;
$blue: #3c67ff;
$another_blue: #009bee;
$sky_blue: #a9def9;
$what_blue: #b1dbd6;

$light_grey: #e3eddf;
$grey72: #727272;
$greyCs: #ccc;

$clear_dark: #404454;

$dark_violet: #2c2437;

$light_violet: #a46ee8;
$light_yellow: #fff580;
$light_orange: #ffd58e;

$fadding_green: #9bfdce;
$fadding_orange: #f9ad81;
$fadding_violet: #9f709f;

$candy_pink: #ff00a7;
$candy_violet: #b000ff;
$candy_blue: #00c5ff;
$candy_yellow: #f0ff00;
$candy_orange: #ffb400;

$pinkish_white: #fff1f1;
$violish_white: #e5cedb;
$whitish_white: #eaecef;
$bluish_white: #beefff;

.dark_bg {
  background-color: $dark_blue;
}

.light_bg {
  background-color: $whitish_white;
}
