@font-face {
  font-family: "RubiK";
  src: url("../fonts/Rubik/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Rubik Black";
  src: url("../fonts/Rubik/Rubik-Black.ttf");
}

@font-face {
  font-family: "Rubik Bold";
  src: url("../fonts/Rubik/Rubik-Bold.ttf");
}

@font-face {
  font-family: "Rubik Medium Italic";
  src: url("../fonts/Rubik/Rubik-MediumItalic.ttf");
}

@font-face {
  font-family: "Rubik Light Italic";
  src: url("../fonts/Rubik/Rubik-LightItalic.ttf");
}

@font-face {
  font-family: "Degital-7";
  src: url("../fonts/digital-7/digital-7.ttf");
}

@font-face {
  font-family: "Degital-7 mono";
  src: url("../fonts/digital-7/digital-7\ \(mono\).ttf");
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Muli-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Muli Italic";
  src: url("../fonts/Muli/Muli-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Baloo Paaji";
  src: url("../fonts/Baloo_Paaji_2/BalooPaaji2-Regular.ttf");
}

@font-face {
  font-family: "Baloo Paaji Medium";
  src: url("../fonts/Baloo_Paaji_2/BalooPaaji2-Medium.ttf");
}

@font-face {
  font-family: "Baloo Paaji SemiBold";
  src: url("../fonts/Baloo_Paaji_2/BalooPaaji2-SemiBold.ttf");
}

@font-face {
  font-family: "Baloo Paaji Medium";
  src: url("../fonts/Baloo_Paaji_2/BalooPaaji2-Medium.ttf");
}

@font-face {
  font-family: "Baloo Paaji Bold";
  src: url("../fonts/Baloo_Paaji_2/BalooPaaji2-Bold.ttf");
}
