<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <div class="overlay">
      <div class="main-container">
        <% include ../partials/nav.ejs %>
        <select name="games" id="games774">
          <option value="cs1.6">Counter Strike 1.6</option>
          <option value="csgo">Counter Strike Global Offensive</option>
          <option value="gtasa">Grand Theft Auto San Andreas</option>
          <option value="gtaiv">Grand Theft Auto IV</option>
          <option value="gtav">Grand Theft Auto V</option>
          <option value="lol">League of legends</option>
          <option value="rl">Rocket League</option>
        </select>
        <div class="right-content">
          <% include ../partials/colorPicker.ejs %><% include
          ../partials/cooldownTimer.ejs %>
        </div>
        <div class="left-content"><h2>yes</h2></div>
      </div>
    </div>
  </body>
  <% include ../scriptLoader.ejs %>
</html>
