<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron main-container text-center">
      <div class="container">
        
        <div class="countdown-container">
          <a href="/" class="lang-logo">
            <img src="/warning.svg" />
          </a>
          <h2>Asteroid incomming!</h2>

         <div id="timer" data-toggle="tooltip" data-placement="top"="top" title="Asteroid OR2 incomming!">
          <h1 id="dy"></h1>
          <h1 id="hr"></h1>
          <h1 id="mn"></h1>
          <h1 id="sc"></h1>
         </div>
          <h1 id="micros"></h1>

        </div>

        <h3 class="note">I didn't create this to spread fear, maybe this is the awakening trigger some of us needs. The world is going through a rough stage.
          Thanks to the quarintine, the clocks stoped and alot of us lost track of TIME. Days feel longer now, and with this countdown we can make them even longer.
          Let's slow down and enjoy every second we have because one of those tiny things is going to be our last one. Let's hope humanity doesn't die yet. 
        </h3>
        <p id="tag">made with ♥ by kikinace</p>
    </div>
  </body>
  <script>
    window.addEventListener("load", () => {
        let script = document.createElement("script");
        script.src = "./script.js";
        document.body.appendChild(script);
      });
  </script>
</html>
