<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <div class="jumbotron main-container text-center">
      <div class="grid-container">
        <div class="left-side-container"></div>
        <div class="right-side-container">
          <% include ../partials/note2.ejs%> <% include ../partials/timer.ejs%>
          <% include ../partials/note.ejs%> <% include
          ../partials/colorsnote.ejs%>
        </div>
      </div>
    </div>
  </body>
  <script>
    window.addEventListener("load", () => {
      let script = document.createElement("script");
      let clr = document.createElement("script");
      script.src = "./timerScript.js";
      clr.src = "./colorScript.js";
      document.body.appendChild(script);
      document.body.appendChild(clr);
    });
  </script>
</html>
