<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <div class="overlay">
      <div class="main-container">
        <% include ../partials/nav.ejs %>

        <div class="right-content">
          <% include ../partials/colorPicker.ejs %><% include
          ../partials/cooldownTimer.ejs %>
        </div>
        <div class="left-content"><h2>yes</h2></div>
      </div>
    </div>
  </body>
  <% include ../scriptLoader.ejs %>
</html>
